@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#sp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(img/background.png);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    background-repeat: no-repeat;
}


.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

ul li {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;

}

.col {
    flex-basis: 50%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col h1 {
    font-weight: 900;
    color: white;
    font-size: 100px;
}

p {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: white;
}

button {
    width: 180px;
    color: #000;
    font-size: 14px;
    font-weight: 900;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card {
    width: 70%;
    /* Utilizza percentuale per la larghezza delle schede */
    max-height: 100%;
    border-radius: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px auto;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(img/portomiggiano.png);
}

.card2 {
    background-image: url(img/castro.png);
}

.card3 {
    background-image: url(img/portocesareo.png);
}

.card4 {
    background-image: url(img/santacaterina.png);
}

.card5 {
    background-image: url(img/isola.png);
}

.card6 {
    background-image: url(img/selvaggio.png);
}

.card7 {
    background-image: url(img/prosciutto.png);
}

.card8 {
    background-image: url(img/isidoro.png);
}

.card9 {
    background-image: url(img/torre.png);
}

.card:hover {
    transform: translateY(-10px);
}

h5 {
    color: #fff;
    text-shadow: 0 0 5px #000;
}

.card p {
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}